<footer>
    <div class="footer-contenido">
         <div class="footer-navbar">
        <a class="footer-a" href="Conocenos">Conocenos</a>
        <a class="footer-a" href="Trabaja con Nosotres">Trabaja con Nosotres</a>
        <a class="footer-a" href="Preguntas Frecuentes">Preguntas Frecuentes</a>
        <a class="footer-a" href="Terminos y Condiciones">Terminos y Condiciones</a>
        <a class="footer-a" href="Contactanos">Contactanos</a>
        </div>
         <div class="footer-media">
        <p>Quedate<br/>conectade</p>
        <div class="footer-media-icons">
        <a class="footer-icon" href="Instagram"><i class="fa-brands fa-square-instagram"></i></a>
        <a class="footer-icon" href="Facebook"><i class="fa-brands fa-square-facebook"></i></a>
        <a class="footer-icon" href="Twitter"><i class="fa-brands fa-square-twitter"></i></a>
        <a class="footer-icon" href="YouTube"><i class="fa-brands fa-square-youtube"></i></a>
        <a class="footer-icon" href="Spotify"><i class="fa-brands fa-spotify"></i></a>
        </div>
         </div>
         <div class="footer-newsletterbox">
            <div class="footer-newsletter">
            <label for="email">Newsletter</label>
            <form>
                <div>
                    <input type="email" id="email" name="email" placeholder="email"/>
                    <button type="submit">Suscribir</button>
                </div>
            </form>
            </div>
            <div class="terms">
            <p>al suscribir aceptas nuestros <a href="Terminos y condiciones">terminos y condiciones</a></p>   
            </div>
         </div>
    </div>
    <div class="footer-copyrigths">
        <p>Copyrigths 2022</p>
    </div>       
</footer>