<header>
    <nav>
        <div class="header-navbar-left">
            <div class="header-navbar-max768">
                <a class="header-a" href="Menu"><i class="fa-solid fa-bars"></i></a>
                <a class="header-a" href="Buscar"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
            <div class="header-navbar-min768">
                <div class="header-navbar-min768-buscar">
                <p>Buscar</p>
                <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
        <div class="header-navbar-logo">
            <img src="../assets/logo.png" alt="Logo"/>        
        </div>
        <div class="header-navbar-rigth">
            <div class="header-navbar-max768">
                <a class="header-a" href="Login">Login</a>
                <a class="header-a" href="Cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
            <div class="header-navbar-min768">
                <a class="header-a" href="Menu"><i class="fa-solid fa-bars"></i></a>
                <a class="header-a" href="Login">Login</a>
                <a class="header-a" href="Cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>
    </nav>
</header>