header {
    position: sticky;
    top:0;
}
header nav {
    width: 100%;
    padding: 8px 16px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.header-navbar-min768{
    display: none;
}

.header-navbar-left{
    width: 30%;
    padding-bottom: .5em;
    display: flex;
    justify-content:center;
    align-items: center;
}

.header-navbar-rigth{
    width: 30%;
    padding-bottom: .5em;
    display: flex;
    justify-content:center;
    align-items: center;
}

.header-navbar-max768 {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-a {
    padding: 0em 1em;
    background-color: var(--first-color);
    border: none;
    color: var(--second-color);
    text-decoration: none;
    font-size: 1em;
}

.header-a:hover {
    color: var(--third-color);
    opacity: .8;
    cursor: pointer;
}

.header-a:active {
    color: var(--third-color);
    opacity: .8;
}

.header-navbar-logo {
    height: 4em;
    width: 4em;
    display: flex;
    align-items: flex-end;
}


/* TABLET */
@media (min-width: 768px){
    .header-navbar-max768{
        display: none;
    }

    .header-navbar-left{
        justify-content:flex-start;
    }
    
    .header-navbar-rigth{
        justify-content:flex-end;
    }
    
    .header-navbar-min768{
        padding: 0em .5em;
        width: 20vw;
        color: var(--second-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-navbar-min768-buscar{
        padding: .3em;
        width: 20vw;
        border: .1em solid var(--second-color);
        border-radius: 2px;
        color: var(--second-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
    }

    .header-navbar-min768-buscar:hover {
        color: var(--third-color);
        opacity: .8;
        cursor: pointer;
    }

    .header-navbar-min768-buscar p {
        font-size: .8em;
    }

    .header-navbar-logo {
        height: 6em;
        width: 6em;
    }

    .header-a {
        padding: .3em;
        font-size:1.2em;
    }
    
}

/* DESKTOP */
@media (min-width: 1200px) {

}