main {
    margin: .5em;
}
.section {
    margin: 1.5em .5em;
    display: flex;
    gap:0.3em;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
#Banner {
    height: 8em;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--third-color);
    transition: 300ms;
}
#Banner:hover {
    transform: scale(1.05);
}

#Banner-imagen {
    width: 50%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/7034051/pexels-photo-7034051.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-position: center;
    background-size:cover;
}
#Banner-texto {
    width: 50%;
    background-size: cover;
}
    
#Banner-texto a {
    text-decoration: none;
    text-align: center;
    color: var(--first-color);
    font-family: 'Spectral+SC';
    font-weight: lighter;
    font-style: oblique;
}

#Productos{
    flex-direction: column;
}
#Productos h1 {
    color: var(--second-color);
    font-family: 'Spectral+SC';
    font-size: x-large;
    text-transform: uppercase;  
}
#Productos ul {
    margin:.5em;
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:.5em;
}
#Productos ul li {
    width: 50%;
    height: 16em;
    padding: .5em;
    border: .1em solid var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    transition: 300ms;
}
#Productos ul li:hover {
    transform: scale(1.05);
}
#Productos img {
    height: 10em;
}
#Productos ul li h3 {
    text-align: center;
    padding: .5em;
    text-transform: uppercase; 
    font-size: small;
    font-weight: normal; 
    color: var(--fourth-color);  
}
#Productos ul li a {
    padding: .3em .7em;
    background-color: var(--second-color);
    font-size: small;
    border-radius: 0.5em;
    text-decoration: none;
    color: var(--first-color);
}
#Productos ul li:nth-child(n+3){
    display: none;  
}
.contenedor {
    margin:0.3em;
    width: 45%;
    height:13em;
    transition: 300ms;   
}
.contenedor:hover {
    transform: scale(1.05);
}
.contenedor-a {
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.contenedor-a a {
    padding: .1em;
    text-decoration: none;
    color: var(--first-color);
    font-size: small;
}
#Mas-leidos , #Recomendados , #Ofertas , #Intercambia {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
#Mas-leidos {
    background-image: url("https://images.pexels.com/photos/6344089/pexels-photo-6344089.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}
#Recomendados {
    background-image: url("https://images.pexels.com/photos/4865742/pexels-photo-4865742.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
#Ofertas {
    background-image: url("https://images.pexels.com/photos/3747535/pexels-photo-3747535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}
#Intercambia {
    background-image: url("https://images.pexels.com/photos/4865741/pexels-photo-4865741.jpeg?auto=compress&cs=tinysrgb&w=1200");
}
#Intercambia p , #Ofertas p{
    display: none;
}

/* TABLET */
@media (min-width: 768px){
    .section {
        flex-direction: column;
    }
    #Banner {
        height: 18em;
        display: flex;
        flex-direction: row;
        border: 1em solid var(--third-color);
    }
    #Banner-texto {
        margin: 5em;
    } 
    #Banner-texto a {
        font-size:2em;
        line-height:1.5;
    }
    #Productos ul li:nth-child(n){
        display: flex;  
    }
    .contenedor {
        width: 60%;
        height:10em;  
        border: .1em solid var(--second-color);
        display: flex;
        justify-content: space-between;
    }
    .contenedor-a {
        width: 50%;
        height: 100%;
        font-family: 'Spectral+SC';
        font-style: normal;
        align-items: center;
    }
    .contenedor-a a {
        color: var(--third-color);
        font-size: x-large;
    }
    #Mas-leidos , #Recomendados , #Ofertas , #Intercambia {
        background-image: none;
        background-color: var(--first-color);
    }
    #Mas-leidos-imagen , #Recomendados-imagen , #Ofertas-imagen , #Intercambia-imagen {
        width: 50%;
        height: 100%;
        background-position: center;
        background-size: cover;
    }
    #Mas-leidos-imagen {
        background-image: url("https://images.pexels.com/photos/6344089/pexels-photo-6344089.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    }
    #Recomendados-imagen {
        background-image: url("https://images.pexels.com/photos/4865742/pexels-photo-4865742.jpeg?auto=compress&cs=tinysrgb&w=1200");
    }
    #Ofertas-imagen {
        background-image: url("https://images.pexels.com/photos/3747535/pexels-photo-3747535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    }
    #Intercambia-imagen{
        background-image: url("https://images.pexels.com/photos/4865741/pexels-photo-4865741.jpeg?auto=compress&cs=tinysrgb&w=1200");
    }

    #Intercambia , #Ofertas{
        flex-direction: column;
        justify-content: center;
       
    }
    #Intercambia p , #Ofertas p{
        margin-left: 1em;
        display:flex;
        font-style:normal;
    }
}

/* DESKTOP */
@media (min-width: 1200px) {
    main {
        margin: 0.5em 3em;
    }
}